# Ignore compiled files
*.ko
*.o
.*
Module.symvers
*.mod
*.mod.c
modules.order


# Ignore IDE files
.idea/
.vscode/

# Ignore sensitive files
# config.py
# api_keys.txt

# Ignore traces and collected data
traces/
dataprocessing/

